.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

button {
  width: 100px;
  height: 35px;
  padding: 5px;
  background: #2873cf;
  color: #ffffff;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
